@model AEM.TestManagementSystem.Services.Models.DTO.LoginModel
@{
    ViewData["Title"] = "Login";
}
<form asp-action="Login" method="post">

    <div class="container">
        <label asp-for="Username"><b>Username</b></label>
        <input type="text" asp-for="Username" placeholder="Enter Username">
        <div class="msg">
            <span class="err" asp-validation-for="Username"></span>
        </div>



        <label asp-for="Password"><b>Password</b></label>
        <input type="password" asp-for="Password" placeholder="Enter Password">
        <div class="msg">
            <span asp-validation-for="Password" class="err"></span>
        </div>


        @if (TempData["msg"] != null)
        {
            <div class="msg">@TempData["msg"]</div>
        }

        <button type="submit">Login</button>
        <a class="text-alert" href="/UserAuthentication/Registration">Not a user? Signup</a>
    </div>
</form>